<p-tabs value="0">
    <p-tablist>
        <p-tab value="0">
            <i class="pi pi-palette mr-2"></i>Hilados
        </p-tab>
        <p-tab value="1">
            <i class="pi pi-box mr-2"></i>Productos Personalizables
        </p-tab>
    </p-tablist>
    <p-tabpanels>
        <p-tabpanel value="0">
            <app-hilados-tab></app-hilados-tab>
        </p-tabpanel>
        <p-tabpanel value="1">
            <app-product-types-tab></app-product-types-tab>
        </p-tabpanel>
    </p-tabpanels>
</p-tabs>