<ng-container *ngIf="control?.touched && control?.invalid">
    <div role="alert" *ngFor="let error of control?.errors | keyvalue" class="mt-1 flex align-items-center gap-1 text-red-500 ">
        <i class="pi pi-exclamation-circle" style="font-size: 1.2rem"></i>
        <span [ngSwitch]="error.key">
            <small *ngSwitchCase="'required'">Este campo es <strong>requerido</strong>.</small>
            <small *ngSwitchCase="'minlength'">Debe tener mínimo <strong>{{ error.value.requiredLength }}</strong> caracteres.</small>
            <small *ngSwitchCase="'maxlength'">Debe tener máximo <strong>{{ error.value.requiredLength }}</strong> caracteres.</small>
            <small *ngSwitchCase="'pattern'">Has introducido caracteres incorrectos.</small>
            <small *ngSwitchCase="'email'">Email inválido.</small>
            <small *ngSwitchCase="'matDatepickerParse'">Fecha inválida.</small>
            <small *ngSwitchCase="'fileSize'">El tamaño de la imagen es demasiado grande.</small>
            <small *ngSwitchDefault>{{error.value}}</small>
        </span>
    </div>
</ng-container>