<router-outlet></router-outlet>

<!-- Scroll to top button -->
<p-scrolltop [threshold]="100" icon="pi pi-arrow-up" [buttonProps]="{ severity: 'help', raised: true, rounded: true }" styleClass="hidden md:block" />

<!-- WhatsApp button -->
<a href="https://wa.me/549XXXXXXXXXX" target="_blank"
    class="fixed no-underline flex align-items-center justify-content-center bg-green-500 hover:bg-green-600 transition-colors border-circle shadow-4 w-4rem h-4rem"
    style="bottom: 5rem; right: 1rem;">
    <i class="pi pi-whatsapp text-white text-4xl"></i>
</a>