<p-toast position="bottom-center">
</p-toast>
<p-confirmdialog>
    <ng-template #message let-message>
        <div class="flex flex-col items-center w-full gap-4 border-b border-surface-200 dark:border-surface-700">
            <i [ngClass]="message.icon" class="text-6xl text-primary-500"></i>
            <p [innerHTML]="message.message"></p>
        </div>
    </ng-template>
</p-confirmdialog>
<app-spinner [visible]="isLoading"></app-spinner>

<main class="flex flex-column justify-content-center md:flex-row gap-6 p-3 md:p-6 bg-surface-50 border-round-xl">
    <!-- Form Section -->
    <section class="flex-1">
        <p-panel styleClass="border-round-xl shadow-3 bg-surface-0 p-3">
            <ng-template #header>
                <div class="flex justify-content-center align-items-center">
                    <h1 class="text-3xl font-bold mt-0 text-center">Personalizá tu prenda</h1>
                </div>
            </ng-template>

            <form [formGroup]="formulario" class="p-fluid flex flex-column gap-4 max-w-2xl mx-auto">
                <!-- Tipo de prenda -->
                <div>
                    <label for="tipo" class="block mb-2 text-lg font-semibold">Seleccione prenda:</label>
                    <p-selectbutton id="tipoPrenda" formControlName="tipo" class="ml-2" size="large" [options]="tiposPrenda" optionLabel="label" optionValue="value" aria-labelledby="basic"
                        [ngClass]="{'ng-invalid ng-dirty': formulario.get('tipo')?.invalid && formulario.get('tipo')?.dirty}" required>
                        <ng-template #item let-prenda>
                            <img [src]="'prendas/' + prenda.image + '.webp'" class="prenda" [pTooltip]="prenda.label" tooltipPosition="top" />
                            <p-badge value="{{ prenda.precio | currency:'ARS':'symbol':'1.0-0' }}" severity="success" badgeSize="xlarge" class="absolute top-0 right-0 m-2" />
                        </ng-template>
                    </p-selectbutton>
                    <app-error-helper [control]="formulario.get('tipo')"></app-error-helper>
                </div>

                <!-- Talle -->
                <div>
                    <label for="talle" class="block mb-2 text-lg font-semibold">Talle:</label>
                    <p-selectbutton [options]="talles" formControlName="talle" size="large" optionLabel="label" optionValue="value" aria-labelledby="basic" required />
                    <app-error-helper [control]="formulario.get('talle')"></app-error-helper>
                </div>

                <!-- Color de prenda -->
                <div>
                    <label for="colorPrenda" class="block mb-2 text-lg font-semibold">Color de la prenda:</label>
                    <p-selectbutton [options]="coloresPrendas" formControlName="colorPrenda" size="large" optionLabel="label" optionValue="value" aria-labelledby="basic" required>
                        <ng-template #item let-color>
                            <div class="color-prenda border-circle border-1 border-300" [pTooltip]="color.label" tooltipPosition="top"
                                [ngStyle]="{'background-color': color.hex, 'width': '32px', 'height': '32px'}"></div>
                        </ng-template>
                    </p-selectbutton>
                    <app-error-helper [control]="formulario.get('colorPrenda')"></app-error-helper>
                </div>

                <!-- 1° Color del hilado -->
                <div>
                    <label for="colorHilado1" class="block mb-2 text-lg font-semibold">Color del hilado:</label>
                    <p-selectbutton [options]="coloresHilado" formControlName="colorHilado1" size="large" optionLabel="label" optionValue="value" aria-labelledby="basic" required>
                        <ng-template #item let-color>
                            <div class="color-prenda border-circle border-1 border-300" [pTooltip]="color.label" tooltipPosition="top"
                                [ngStyle]="{'background-color': color.hex, 'width': '32px', 'height': '32px'}"></div>
                        </ng-template>
                    </p-selectbutton>
                    <app-error-helper [control]="formulario.get('colorHilado1')"></app-error-helper>
                </div>

                <!-- ¿Usar un segundo color? -->
                <div>
                    <label for="usarSegundoColor" class="block mb-2 text-lg font-semibold">¿Querés usar un segundo color de hilado?</label>
                    <p-togglebutton formControlName="usarSegundoColor" (onChange)="onChange()" onLabel="Sí" offLabel="No" onIcon="pi pi-check" offIcon="pi pi-times" size="large"
                        aria-label="Confirmation" />
                    <p-badge *ngIf="formulario.get('usarSegundoColor')?.value" value="+{{ precioSegundoColor | currency:'ARS':'symbol':'1.0-0' }}" severity="success" badgeSize="large"
                        class="ml-2" />
                </div>

                <!-- 2° Color del hilado -->
                <div *ngIf="formulario.get('usarSegundoColor')?.value">
                    <label for="colorHilado2" class="block mb-2 text-lg font-semibold">Segundo color del hilado:</label>
                    <p-selectbutton [options]="coloresHilado" formControlName="colorHilado2" size="large" optionLabel="label" optionValue="value" aria-labelledby="basic"
                        [required]="formulario.get('usarSegundoColor')?.value">
                        <ng-template #item let-color>
                            <div class="color-prenda border-circle border-1 border-300" [pTooltip]="color.label" tooltipPosition="top"
                                [ngStyle]="{'background-color': color.hex, 'width': '32px', 'height': '32px'}"></div>
                        </ng-template>
                    </p-selectbutton>
                    <app-error-helper [control]="formulario.get('colorHilado2')"></app-error-helper>
                </div>

                <!-- Imagen -->
                <div>
                    <label for="imagen" class="block mb-2 text-lg font-semibold">Imagen:</label>
                    <p-fileupload name="imagen" mode="advanced" accept="image/*" [maxFileSize]="maxImageSize" (onSelect)="onSelect($event)" [multiple]="false" [auto]="false"
                        [invalidFileSizeMessageSummary]="invalidFileSizeMessageSummary" [invalidFileSizeMessageDetail]="invalidFileSizeMessageDetail" required>
                        <ng-template #header let-chooseCallback="chooseCallback">
                            <div class="flex flex-wrap justify-between items-center flex-1 gap-4">
                                <div class="flex gap-2">
                                    <p-button (onClick)="elegirImagen($event, chooseCallback)" label="Seleccionar" icon="pi pi-images text-4xl" size="large" [raised]="true"
                                        [outlined]="true" />
                                </div>
                                <!-- <p-progressbar *ngIf="image" [value]="totalSizePercent" [showValue]="true" class="w-full" styleClass="md:w-20rem h-1 w-full md:ml-auto">
                                    <span class="whitespace-nowrap">{{ image?.bytes }}B / 1Mb</span>
                                    </p-progressbar> -->
                            </div>
                        </ng-template>

                        <ng-template #content let-removeFileCallback="removeFileCallback">
                            <div *ngIf="imageFile" class="flex align-items-center gap-3">
                                <p-image [alt]="imageFile.name" [src]="imageURL" width="120" preview />
                                <span class="font-semibold text-ellipsis max-w-60 whitespace-nowrap overflow-hidden">
                                    {{ imageFile.name }} - {{ formatSize(imageFile.size) }}
                                </span>
                                <p-button icon="pi pi-trash" (onClick)="eliminarImagen($event, removeFileCallback)" [rounded]="true" severity="danger" />
                            </div>
                        </ng-template>

                        <ng-template #file></ng-template>

                        <ng-template #empty>
                            <p-divider />
                            <div class="flex flex-row align-items-center justify-content-center">
                                <i class="pi pi-cloud-upload text-4xl text-primary mr-3"></i>
                                <p class="text-lg">
                                    Arrastrá y soltá acá la imagen.<br />(Tamaño máximo {{ formatSize(maxImageSize) }})
                                </p>
                            </div>
                        </ng-template>
                    </p-fileupload>
                    <app-error-helper [control]="formulario.get('imagen')"></app-error-helper>
                </div>

                <!-- Cantidad -->
                <div>
                    <label for="cantidad" class="block mb-2 text-lg font-semibold">Cantidad:</label>
                    <p-selectbutton [options]="cantidades" formControlName="cantidad" size="large" optionLabel="label" optionValue="value" aria-labelledby="basic" required />
                    <app-error-helper [control]="formulario.get('cantidad')"></app-error-helper>
                </div>

            </form>
        </p-panel>
    </section>

    <!-- Panel Resumen -->
    <aside class="flex-1">
        <p-panel styleClass="border-round p-3 shadow-3">
            <ng-template #header>
                <div class="flex justify-center align-items-center">
                    <h1 class="text-2xl font-bold mt-0 text-center">Resumen del pedido</h1>
                </div>
            </ng-template>
            <div class="flex flex-column gap-3">
                <div *ngIf="formulario.get('tipo')?.value" class="flex align-items-center gap-2">
                    <i class="pi pi-circle-fill text-primary"></i>
                    Prenda: <strong>{{ getLabel('tipo', tiposPrenda) }}</strong> <span class="text-sm text-green-500">({{ getPrecio('tipo', tiposPrenda) |
                        currency:'ARS':'symbol':'1.0-0' }})</span>
                </div>
                <div *ngIf="formulario.get('talle')?.value" class="flex align-items-center gap-2">
                    <i class="pi pi-tag text-primary"></i>
                    Talle:<strong>{{ getLabel('talle', talles) }}</strong>
                </div>
                <div *ngIf="formulario.get('colorPrenda')?.value" class="flex align-items-center gap-2">
                    <i class="pi pi-palette text-primary"></i>
                    Color de prenda: <strong>{{ getLabel('colorPrenda', coloresPrendas) }}</strong>
                </div>
                <div *ngIf="formulario.get('colorHilado1')?.value" class="flex align-items-center gap-2">
                    <i class="pi pi-circle-fill text-primary"></i>
                    Color del hilado: <strong>{{ getLabel('colorHilado1', coloresPrendas) }}</strong>
                </div>
                <div *ngIf="formulario.get('usarSegundoColor')?.value && formulario.get('colorHilado2')?.value" class="flex align-items-center gap-2">
                    <i class="pi pi-circle-fill text-primary"></i>
                    2° Color del hilado: <strong>{{ getLabel('colorHilado2', coloresPrendas) }}</strong> <span class="text-sm text-green-500">({{ precioSegundoColor |
                        currency:'ARS':'symbol':'1.0-0' }})</span>
                </div>
                <div *ngIf="formulario.get('cantidad')?.value" class="flex align-items-center gap-2">
                    <i class="pi pi-circle-fill text-primary"></i>
                    Cantidad: <strong>{{ formulario.get('cantidad')?.value }}</strong>
                </div>
                <div *ngIf="formulario.valid">
                    <span class="text-lg text-green-500">{{ calcularPrecioUnitario() | currency:'ARS':'symbol':'1.0-0' }} x {{ formulario.get('cantidad')?.value}}</span>
                </div>
                <div *ngIf="formulario.valid" class="border-top-1 border-300 pt-2 mt-2">
                    <p>
                        <strong class="text-xl">Total estimado:</strong>
                        <span class="text-3xl font-bold text-green-500"> {{ calcularSubtotal() | currency:'ARS':'symbol':'1.0-0' }} </span>
                    </p>
                </div>
                <p-button [disabled]="!formulario.valid || isSubmitting" icon="pi pi-cart-plus" [raised]="true" size="large" (click)="confirmar()"
                    [label]="formulario.valid? 'Agregar al carrito' : 'Selecciona todos los campos'" [severity]="formulario.valid? 'primary' : 'danger'" class="w-full mt-2" />
            </div>

        </p-panel>
    </aside>

</main>