/* You can add global styles to this file, and also import other style files */
@import 'primeflex/primeflex.css';
@import "primeicons/primeicons.css";

html,
body {
    height: 100%;
    margin: 0;
}

body {
    // font-family: 'Poppins', sans-serif;
    // font-family: 'Inter', sans-serif;
    font-family: 'Open Sans', sans-serif;
    // font-family: 'Lato', sans-serif;
    // font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3 {
    // font-family: 'Playfair Display', serif;
    // font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;
    // font-family: 'Oswald', sans-serif;
    // font-family: 'Nunito', sans-serif;
    // color: black;
}

/* PrimeNG Image Preview hover Border Radius */
.p-image {
    .p-image-preview-mask {
        border-radius: inherit;
    }
}